@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #181926;
  --background2: #24273a;
  --background3: #363a4f;
  --background4: #494d64;
  --theme: rgb(138, 173, 244);
  --shadow: rgba(138, 173, 244, 0.5);
  --text: #cad3f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: 'Inter';
  background: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

h1 {
  font-size: 56px;
  font-family: 'Montserrat';
}

h6 {
  font-size: 12px;
  color: var(--text) !important;
}

.page button {
  padding: 11px 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  border: none;
  font-family: 'Inter';
  cursor: pointer;
  transition: 250ms;
  display: flex;
  align-items: center;
  gap: 5px;
}

.page .buttons, 
.page .theme-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.page button:hover {
  background: var(--background3)
}

.page button:disabled {
  background: var(--background4);
  color: var(--shadow);
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

nav {
  width: 20vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

nav .logo {
  font-family: 'Montserrat' !important;
  display: flex;
  padding: 20px;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  z-index: 5;
}

nav .logo img {
  height: 30px;
  width: 30px;
}

nav .logo .logo-name {
  color: var(--text);
}

.container {
  display: flex;
  height: 100vh;
}

.tabs {
  padding: 15px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 150px);
  overflow: auto;
}

#tabs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tab-btn {
  font-family: 'Inter';
  width: 100%;
  border-radius: 15px;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--text);
  font-size: 16px;
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  z-index: 5;
}

.tab-btn:hover {
  background: var(--background2);
}

.tab-btn p {
  margin: 10px 0px;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0px 10px
}

.close-tab {
  border: none;
  cursor: pointer;
  padding: 5px;
  background: transparent;
  color: var(--text);
  transition: 250ms;
  border-radius: 8px;
  margin: 0px 8px;
}

.close-tab:hover {
  background: var(--background4);
}

.close-tab:active {
  transform: scale(0.9);
}

.bottom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  transition: 250ms;
  background: transparent;
  outline: none;
  color: var(--text);
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn:hover {
  background: var(--background2);
}

.action-btn:active {
  transform: scale(0.9);
}

.main-content {
  flex-grow: 1;
  margin: 15px;
  border-radius: 15px;
  background-image: url(/assets/blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100vw - 30px);
  overflow: auto;
  z-index: 2;
}

#clock {
  font-family: 'Montserrat';
  font-size: 30px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 20px;
}

.page {
  display: none;
}

#home-page,
#settings-page {
  display: block;
  padding: 100px;
  line-height: 1.5;
}

#embed-container {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}

.game-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
}

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 50px 0px;
}

input {
  padding: 11px 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  border: none;
  font-family: 'Inter';
  width: 100%;
}

::placeholder {
  color: var(--shadow);
}

select {
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  font-family: 'Inter' !important;
  border: none;
  width: 30%;
  cursor: pointer;
  transition: 150ms;
}

select:hover {
  background: var(--background3);
}

.setting-card select {
  background: var(--background3);
}

.setting-card select:hover {
  background: var(--background4);
}

.game-btn {
  width: calc(12.5% - 26.25px);
  border-radius: 20px;
  position: relative;
  transition: opacity 1s, transform 150ms !important;
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px var(--shadow);
  background: var(--background2);
  text-overflow: ellipsis;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.game-btn:hover {
  transform: translateY(-5px);
}

.game-btn img {
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: 250ms;
}

.game-btn .content {
  text-align: left;
  font-weight: 700;
  padding: 0px 10px;
  height: 50px;
}

.game-btn .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-btn .category {
  font-size: 12px;
  font-weight: 300;
}

.game-btn:active {
  transform: scale(0.95);
}

/* settings */

.settings-container {
  width: 100%;
  margin: 30px 0px;
}

.settings-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 20px;
  padding: 15px;
  background: var(--background2);
  border-radius: 20px;
}

.tab-link {
  padding: 11px 10px;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: 250ms;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.tab-link:hover {
  background: var(--background3);
}

.tab-link:active {
  transform: scale(0.98);
}

.tab-active {
  background: var(--background4) !important;
}

.tab-link i {
  font-size: 18px;
}

.tab-content {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.setting-card {
  background: var(--background2);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.wallpaper-card {
  width: calc(25% - 7.5px);
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: 250ms;
  padding: 10px;
  border: 3px solid var(--shadow);
}

.wallpaper-card:active {
  transform: scale(0.98);
}

.wallpaper-card img {
  width: 100%;
  border-radius: 10px;
}

.selected {
  border-color: #f5a97f;
}

.theme-buttons button:hover {
  transform: scale(0.97)
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background4);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--theme);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.credit-card {
  width: calc(25% - 7.5px);
  text-align: center;
  border-radius: 15px;
  transition: 250ms;
  padding: 10px;
  border: 3px solid var(--shadow);
}

.credit-pfp {
  width: 100px;
  border-radius: 50%;
}

.discord-user {
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 1700px) {
  .game-btn {
    width: calc(16.66666667% - 25px)
  }
}

@media screen and (max-width: 1500px) {
  .game-btn {
    width: calc(20% - 24px)
  }
}

@media screen and (max-width: 1300px) {
  .game-btn {
    width: calc(25% - 22.5px)
  }
}

@media screen and (max-width: 1100px) {
  .game-btn {
    width: calc(33% - 20px)
  }

  .credit-card {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 800px) {
  nav {
    width: 50px;
  }

  .main-content {
    width: calc(100% - 50px);
  }

  .logo h2,
  .logo h6 {
    display: none;
  }

  .tab-btn p {
    display: none;
  }

  .tab-btn i {
    margin: 10px 0px;
  }

  .tabs {
    height: calc(100vh - 230px);
  }

  .bottom {
    flex-direction: column;
    padding: 0px;
    align-self: flex-end;
  }

  .game-btn {
    width: calc(50% - 30px);
  }

  .credit-card {
    width: 100%;
  }
}