.game-btn {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  transition: all 300ms;
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px var(--shadow);
}

.game-btn:hover img {
  transform: scale(1.1);
}

.game-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 250ms;
}

.game-btn .content {
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  padding: 10px;
  bottom: 0;
  background: linear-gradient(transparent, rgba(24, 25, 38, 0.9));
  text-align: center;
  font-weight: 700;
  z-index: 1;
}

.game-btn:active {
  transform: scale(0.95);
}