body[theme="catppuccin-macchiato"] {
  --background: #181926;
  --background2: #24273a;
  --background4: #494d64;
  --theme: rgb(138, 173, 244);
  --shadow: rgba(138, 173, 244, 0.5);
  --text: #cad3f5;
  --placeholder: #8087a2;
  --text-secondary: #181926;
  --nav-btn: #1e2030;
}