@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@sweetalert2/theme-borderless/borderless.scss';

:root {
  --background: #181926;
  --background2: #24273a;
  --background3: #363a4f;
  --background4: #494d64;
  --theme: rgb(138, 173, 244);
  --secondary-theme: rgb(166, 218, 149);
  --shadow: rgba(138, 173, 244, 0.5);
  --text: #cad3f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: 'Inter';
  background: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

svg {
  height: 16px;
  width: 16px;
}

h1 {
  font-size: 56px;
  font-family: 'Montserrat';
}

h6 {
  font-size: 12px;
  color: var(--text) !important;
}

.page button {
  padding: 11px 10px;
  font-size: 16px;
  outline: none;
  border-radius: 15px;
  background: var(--background2);
  color: var(--text);
  border: none;
  font-family: 'Inter';
  cursor: pointer;
  transition: 250ms;
  display: flex;
  align-items: center;
  gap: 5px;
}

.page .buttons,
.page .theme-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.page button:hover {
  background: var(--background3)
}

.page button:disabled {
  background: var(--background4);
  color: var(--shadow);
}

input {
  padding: 11px 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  border: none;
  font-family: 'Inter';
  width: 100%;
}

::placeholder {
  color: var(--shadow);
}

select {
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  font-family: 'Inter' !important;
  border: none;
  width: 30%;
  cursor: pointer;
  transition: 150ms;
}

select:hover {
  background: var(--background3);
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

nav {
  width: 20vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

nav .logo {
  font-family: 'Montserrat' !important;
  display: flex;
  padding: 20px;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  z-index: 5;
}

nav .logo img {
  height: 30px;
  width: 30px;
}

nav .logo .logo-name {
  color: var(--text);
}

nav .tabs hr {
  border: 1px solid var(--shadow);
  border-radius: 1px;
}

.container {
  display: flex;
  height: 100vh;
}

.tabs {
  padding: 15px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 150px);
  overflow: auto;
}

#tabs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tab-btn {
  font-family: 'Inter';
  width: 100%;
  border-radius: 15px;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--text);
  font-size: 16px;
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
}

.tab-btn:hover {
  background: var(--background2);
}

.tab-btn p {
  margin: 10px 0px;
  font-weight: 600;
}

.tab-btn img {
  height: 16px;
  width: 16px;
  margin: 10.75px 0px;
}

.tab-btn svg {
  margin: 10px 0px;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0px 10px
}

.close-tab {
  border: none;
  cursor: pointer;
  padding: 5px;
  background: transparent;
  color: var(--text);
  transition: 250ms;
  border-radius: 8px;
  margin: 0px 8px;
}

.close-tab:hover {
  background: var(--background4);
}

.close-tab:active {
  transform: scale(0.9);
}

.bottom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  transition: 250ms;
  background: transparent;
  outline: none;
  color: var(--text);
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn:hover {
  background: var(--background2);
}

.action-btn:active {
  transform: scale(0.9);
}

.action-btn svg {
  height: 20px;
  width: 20px;
}

.refresh:hover svg {
  transform: rotate(360deg);
}

.main-content {
  flex-grow: 1;
  margin: 15px;
  border-radius: 15px;
  background-image: url(/assets/winterfall.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100vw - 30px);
  overflow: auto;
  z-index: 2;
}

#clock {
  font-family: 'Montserrat';
  font-size: 30px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 20px;
}

.page {
  display: none;
}

#home-page {
  padding: 100px;
  line-height: 1.5;
  height: 100%;
}

#home-page .welcome {
  background: linear-gradient(45deg, var(--theme), var(--secondary-theme));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
}

#home-page .buttons {
  margin: 25px 0px;
  gap: 20px;
}

#home-page .start {
  background: var(--theme);
  border-radius: 100px;
  box-shadow: var(--theme) 0 -25px 18px -14px inset, var(--shadow) 0 1px 2px, var(--shadow) 0 2px 4px, var(--shadow) 0 4px 8px, var(--shadow) 0 8px 16px, var(--shadow) 0 16px 32px;
  color: var(--background);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 11px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 600;
}

#home-page .start:hover {
  transform: scale(1.05) rotate(-1deg);
  background: var(--theme);
}

#home-page .start:active {
  transform: scale(1);
}

.home-page-container {
  height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partners,
.resources {
  display: flex;
  align-items: center;
  gap: 30px;
  line-height: 2;
}

.partners a,
.resources a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.partners a:hover,
.resources a:hover {
  text-decoration: underline;
}

#game-page,
#proxy-page,
#settings-page {
  display: none;
  padding: 100px;
  line-height: 1.5;
  flex-direction: column;
}

#forum-page {
  width: 100%;
  height: 100%;
}

#embed-container {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 50px 0px;
}

#category-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

#category-buttons button {
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
}

.selected-category {
  background: var(--theme) !important;
  color: var(--background) !important;
}

.game-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
}

.game-btn {
  width: calc(12.5% - 26.25px);
  border-radius: 20px;
  position: relative;
  transition: opacity 1s, transform 150ms !important;
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px var(--shadow);
  background: var(--background2);
  text-overflow: ellipsis;
}

.game-btn:hover {
  transform: translateY(-5px);
}

.game-btn img {
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: 250ms;
}

.game-btn .content {
  text-align: left;
  font-weight: 700;
  padding: 0px 10px;
  height: 50px;
}

.game-btn .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-btn .category {
  font-size: 12px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-btn:active {
  transform: scale(0.995);
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* proxy */

#uv-form {
  padding: 11px 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background: var(--background2);
  color: var(--text);
  border: none;
  font-family: 'Inter';
  width: 100%;
  display: flex;
  gap: 10px;
  color: var(--shadow);
  margin: 50px 0px;
}

#uv-form i {
  font-size: 18px;
  line-height: 1;
}

#uv-form svg {
  width: 18px;
  height: 18px;
}

#uv-address {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  line-height: 1;
}

.shortcuts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.page .shortcut {
  display: flex;
  padding: 15px;
  gap: 20px;
  flex-direction: column;
  font-size: 14px;
  width: calc(12.5% - 17.5px);
}

.shortcut img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

#proxy-status {
  background: var(--background2);
  margin: 40px 0px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700;
  width: fit-content;
}

.loader {
  border: 6px solid transparent;
  border-top: 6px solid var(--theme);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  position: absolute;
  display: none;
  background: var(--background2);
  padding: 20px;
  border-radius: 20px;
}

/* settings */

.settings-container {
  width: 100%;
  margin: 30px 0px;
}

.settings-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 20px;
  padding: 15px;
  background: var(--background2);
  border-radius: 40px;
}

.tab-link {
  border-radius: 100px !important;
  font-weight: 700;
  width: 100%;
  justify-content: center;
}

.tab-link:hover {
  background: var(--background3);
}

.tab-link:active {
  transform: scale(0.98);
}

.tab-active {
  background: var(--background4) !important;
}

.tab-link svg {
  height: 18px;
  width: 18px;
}

.tab-content {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.setting-card {
  background: var(--background2);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setting-card select {
  background: var(--background3);
}

.setting-card select:hover {
  background: var(--background4);
}

.cards-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.wallpaper-card {
  width: calc(25% - 7.5px);
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: 250ms;
  padding: 10px;
  border: 3px solid var(--shadow);
}

.wallpaper-card:active {
  transform: scale(0.98);
}

.wallpaper-card img {
  width: 100%;
  border-radius: 10px;
}

.selected {
  border-color: #f5a97f;
}

.theme-buttons button:hover {
  transform: scale(0.97)
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background4);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--theme);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.page .dropdown-button {
  width: 100%;
  text-align: left;
  justify-content: space-between;
  border: 1px solid var(--shadow);
  border-radius: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: var(--background2);
  border: 1px solid var(--shadow);
  z-index: 1;
  width: 100%;
  max-height: 200px;
  border-radius: 15px;
  overflow-y: auto;
  padding: 5px;
  margin: 5px 0px;
  ;
  list-style: none;
  gap: 5px;
  flex-direction: column;
}

.dropdown-menu li {
  padding: 5px 10px;
  font-size: 16px;
  color: var(--text);
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li:hover {
  background-color: var(--background3);
}

.dropdown-selected {
  font-weight: bold;
  color: var
}

.dropdown.open .dropdown-menu {
  display: block;
}

.credit-card {
  width: calc(25% - 7.5px);
  text-align: center;
  border-radius: 15px;
  transition: 250ms;
  padding: 10px;
  border: 3px solid var(--shadow);
}

.credit-pfp {
  width: 100px;
  border-radius: 50%;
}

.discord-user {
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 1700px) {
  .game-btn {
    width: calc(16.66666667% - 25px)
  }
}

@media screen and (max-width: 1500px) {
  .game-btn {
    width: calc(20% - 24px)
  }
}

@media screen and (max-width: 1300px) {
  .game-btn {
    width: calc(25% - 22.5px)
  }
}

@media screen and (max-width: 1100px) {
  .game-btn {
    width: calc(33% - 20px)
  }

  .credit-card {
    width: calc(50% - 15px);
  }

  .page .shortcut {
    width: calc(16.6667% - 16.6667px)
  }

  .action-btn {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    width: 50px;
  }

  .main-content {
    width: calc(100% - 50px);
  }

  .logo h2,
  .logo h6 {
    display: none;
  }

  .tab-btn p {
    display: none;
  }

  .tab-btn i {
    margin: 10px 0px;
  }

  .tabs {
    height: calc(100vh - 230px);
  }

  .bottom {
    flex-direction: column;
    padding: 0px;
    align-self: flex-end;
  }

  .game-btn {
    width: calc(50% - 30px);
  }

  .credit-card {
    width: 100%;
  }

  .page .shortcut {
    width: calc(25% - 15px)
  }
}